<fieldset class="design__container form__collapsible">
    <legend>Diseña</legend>
    <div class="design__title__container">
        <div class="first__title">
            <i class="far fa-object-ungroup icon__collapsible"></i>
            <h2 class="collapsible__title">Diseña</h2>
        </div>
        <div class="second__title design__collapsible">
            <i class="fas fa-chevron-down arrow__collapsible"></i>
        </div>
    </div>
    <div class="design__main__container collapsible__container">
        <div class="title__color__container">
            <p class="color__title">Colores</p>
        </div>

        <div class="palettes">
            <label class="palettes__label" for="color1">
                <input type="radio" id="color1" name="color">
                <ul class="theme">
                    <li class="theme__color" style="background-color:#114e4e">114e4e</li>
                    <li class="theme__color" style="background-color:#438792">438792</li>
                    <li class="theme__color" style="background-color:#a2deaf">a2deaf</li>
                </ul>
            </label>

            <label class="palettes__label" for="color2">
                <input type="radio" id="color2" name="color">
                <ul class="theme">
                    <li class="theme__color" style="background-color:#420101">420101</li>
                    <li class="theme__color" style="background-color:#bd1010">bd1010</li>
                    <li class="theme__color" style="background-color:#e95626">e95626</li>
                </ul>
            </label>

            <label class="palettes__label" for="color3">
                <input type="radio" id="color3" name="color">
                <ul class="theme">
                    <li class="theme__color" style="background-color:#3e5b65">3e5b65</li>
                    <li class="theme__color" style="background-color:#dfe5eb">dfe5eb</li>
                    <li class="theme__color" style="background-color:#a0c0cf">a0c0cf</li>
                </ul>
            </label>
        </div>
    </div>
</fieldset>
