<div class="design_container">
    <div class="design_title_container">
        <div class="first_title">
            <i class="far fa-object-ungroup icon_collapsible"></i>
            <h2 class="design_title">Diseña</h2>
        </div>
        <div class="second_title">
            <i class="fas fa-chevron-down icon_collapsible"></i>
        </div>
    </div>
    <div class="design_main_container">
        <div class="title_color_container">
            <p class="color_title">Colores</p>
        </div>
        <div class="palettes">
            <div class="palette_1_container palette_contaier">
                <div class="form_color_container">
                    <label class="label_hidden" for="palette_1">
                        <input id="palette_1" type="radio" value="palette_1"              name="palettes"
                        />
                    <div class="color_palette_1 palette"></div>
                    </label>
                </div>
            </div>
            <div class="palette_2_container palette_contaier">
                <div class="form_color_container">
                    <label class="label_hidden" for="palette_2">
                        <input id="palette_2" type="radio" value="palette_2"              name="palettes"
                        />
                    <div class="color_palette_2 palette"></div>
                    </label>
                </div>
            </div>
            <div class="palette_3_container palette_contaier">
                <div class="form_color_container">
                    <label class="label_hidden" for="palette_2">
                        <input id="palette_3" type="radio" value="palette_3"              name="palettes"
                        />
                    <div class="color_palette_3 palette"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>