<div class="fill__container form__collapsible">
    <div class="design__title__container">
        <div class="first__title">
            <i class="far fa-keyboard icon__collapsible"></i>
            <h2 class="collapsible__title">Rellena</h2>
        </div>
        <div class="second__title">
            <i class="fas fa-chevron-down arrow__collapsible"></i>
        </div>
    </div>
    <div class="fill__main__container">
        <label class="label__fill" for="name">Nombre completo</label>
        <input class="input__fill" type="text" name="name" id="name" placeholder="Ej: Silly Sally">

        <label class="label__fill" for="job">Puesto</label>
        <input class="input__fill"  type="text" name="job" id="job" placeholder="Ej: Front-end unicorn">
        
        <label class="label__fill" for="profile_image">Imagen de perfil</label>
        <div class="thumbnail__container">
            <input class="button__thumbnail" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            <div class="thumbnail__image"></div>
        </div>

        <label class="label__fill" for="email">Email</label>
       <input class="input__fill"  type="email" name="email" id="email" placeholder="Ej: sally-hill@gmail.com">

       <label class="label__fill" for="phone">Teléfono</label>
       <input class="input__fill"  type="tel" name="tel" id="tel" placeholder="Ej: 555-55-55-55">

       <label class="label__fill" for="phone">Linkedin</label>
       <input class="input__fill"  type="text" name="linkedin" id="linkedin" placeholder="Ej: linkedin.com/in/sally.hill">

       <label class="label__fill" for="phone">Github</label>
       <input class="input__fill"  type="text" name="github" id="github" placeholder="Ej: @sally-hill">

    </div>
</div>