<div class="fill__container form__collapsible">
    <div class="design__title__container">
        <div class="first__title">
            <i class="far fa-keyboard icon__collapsible"></i>
            <h2 class="collapsible__title">Rellena</h2>
        </div>
        <div class="second__title">
            <i class="fas fa-chevron-down arrow__collapsible"></i>
        </div>
    </div>
    <div class="design__main__container">
        <label for="name">Nombre completo</label>
        <input type="text" name="name" id="name">

        
    </div>
</div>