<div class="landing__page">
    <div class="landing__img-container">
        <img src="assets/images/awesome-logo.svg" alt="Awesome profile-cards logo">
    </div>
    <div class="landing__title-container">
        <h1 class="landing__title">Crea tu tarjeta de visita</h1>
        <h2 class="landing__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
    </div>
    <div class="landing__icons">
        <ul class="icons__list">
            <li class="icons__list--item"><i class="far fa-object-ungroup"></i></li>
            <li class="icons__list--item"><i class="far fa-keyboard"></i></li>
            <li class="icons__list--item"><i class="fas fa-share-alt"></i></li>
        </ul>
    </div>
    <div class="landing__button">
        <a href="main.html" title="Botón de comenzar" class="landing__button--link">Comenzar</a>
    </div>

</div>