<div class="photo_container">
    <h1 class="preview_title" >Nombre Apellido</h1>
    <h2 class="preview_subtitle">Front-end Developer</h2>
    <img class="preview_photo" src="https://via.placeholder.com/240x200" alt="card photo">
    <ul class="list_rs">
        <li class="rs_element"><i class="icon fas fa-mobile-alt"></i></li>
        <li class="rs_element"><a href="mailto:"><i class="icon far fa-envelope"></i></a></li>
        <li class="rs_element"><a href="" target="_blank"><i class="icon fab fa-linkedin-in"></i></a></li>
        <li class="rs_element"><a href="" target="_blank"><i class="icon fab fa-github-alt"></i></a></li>
    </ul>
</div>