<div class="preview__wrapper">
    <div class="photo__container">
        <button class="btn__reset"><i class="reset__icon far fa-trash-alt"></i>Reset</button>
        <div class="card__header">
            <div class="side__bar"></div>
            <div class="full__name">
                <h3 class="preview__title">Nombre Apellido</h3>
                <h4 class="preview__subtitle">Front-end Developer</h4>
            </div>
        </div>
        <div class="profile">
            <div class="preview__photo profile__image js__profile-image" style="background-image:url(https://via.placeholder.com/200x200/cccccc/666666/?text=IMAGE)"></div>
        </div>
        <ul class="list__rs">
            
            <li class="preview__email hidden">
                <a class="rs__element rs__email" href="mailto:">
                    <i class="icon far fa-envelope"></i>
                </a>
            </li>
                 
            <li class="preview__tel hidden">
                <a class="rs__element rs__tel" href="tel:">
                    <i class="icon fas fa-mobile-alt"></i>
                </a>
            </li>

            <li class="preview__linkedin hidden">
                <a class="rs__element link__linkedin" href="" target="_blank">
                    <i class="icon fab fa-linkedin-in"></i>
                </a>
            </li>

            <li class="preview__github hidden">
                <a class="rs__element link__github" href="" target="_blank">
                    <i class="icon fab fa-github-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</div>