<fieldset class="share__container form__collapsible jscontainer hidden__collapsible">
    <legend>Comparte</legend>
    <div class="design__title__container">
        <div class="first__title">
            <i class="fas fa-share-alt icon__collapsible"></i>
            <h2 class="collapsible__title">Comparte</h2>
        </div>
        <div class="second__title share__collapsible">
            <i class="fas fa-chevron-down arrow__collapsible"></i>
        </div>
    </div>
    <div class="container__button collapsible__container">
        <button class="share__button" type="submit"><i class="far fa-address-card share__icon"></i>Crear tarjeta</button>
    </div>
    <div class="twitter__container">
        <h2 class="twitter__container--text">La tarjeta ha sido creada</h2>
        <a href="https://..." class="twitter__container--link">Soy un enlace</a>
        <button class="twitter__container--btn"><i class="fab fa-twitter twitter__icon"></i> Compartir en twitter</button>
    </div>
</fieldset>