<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' gap:; script-src * data: https://ssl.gstatic.com 'unsafe-eval'; img-src 'self' data:; media-src 'self' data:; font-src 'self' data:; connect-src *">
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:400,700|Open+Sans:400,600" rel="stylesheet">
  <link rel="icon" href="#"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Jigsaw Ladies</title>
</head>
<body class="index__body">
  <div class="page">
    <partial src="_landing.html" label="Landing Page"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>
</html>
