.footer__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: rem(110);
    background-color: $color-white;
    border-top: rem(1) solid #d8d8d8;

    @media all and (min-width: 768px) {
        justify-content: space-between;
        flex-direction: row;
        padding: 0 rem(40) 0 rem(40);
        height: rem(60);
    }
    @media all and (min-width: 1024px) {
        min-width: rem(1024);
    }

}

.footer__copyright {
    @include Footer---Copy;
    margin: 0 0 rem(11) 0;

    @media all and (min-width: 768px) {
        margin: 0;
    }
}

.footer__image {
    width: rem(103);
    height: rem(40);
}