.design_container , .design_main_container {
    max-width: 95%;
    margin: 0 auto;
    background: cyan;
}

.design_title_container , .design_main_container {
    display: flex;
    background: white;
}

.first_title {
    flex-grow: 2;
    display: flex;
}

.icon_collapsible {
    margin: 0.83rem;
}

.second_title {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.design_title {
    @include Collapsible---label;
}

.title_color_container , .form_color_container {
    flex-grow: 1;
}

.label_hidden {
    display: flex;
    align-items: center;
}

.palettes {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.palette_contaier {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: rem(10);
}

.palette {
    margin-left: rem(10);
    width: 90px;
    height: 25px;
}

.color_palette_1 {
    background: green;
}

.color_palette_2 {
    background: darkred;
}

.color_palette_3 {
    background: grey;
}

