.header__container {
    width: 100%;
}
.header {
    height: rem(111);
    width: 100%;
    margin: 0;
    background-color: $color-white;
}
.header__logo {
    width: rem(201);
    height: rem(50);
    margin: rem(31) rem(79) rem(30) rem(40);
}