.main__container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;    
}

.main__preview {
    background:#bfcdd0;
    height: 100%;
}

.main__form {
    background: goldenrod;
}