.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;  
    @media all and (min-width:768px)  {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;  
        padding: rem(20) rem(40);
        background-image: linear-gradient(to bottom,$color-background-light, $color-white);
    }
}
