@mixin Landing---Main-title---table {
    font-family: $fontFamilyTitle;
    font-size: rem(24);
    font-weight: 900;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Landing---Main-title---mobile {
    font-family: $fontFamilyTitle;
    font-size: rem(19);
    font-weight: 900;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Card---Name {
    font-family: $fontFamilyTitle;
    font-size: rem(18);
    font-weight: bold;
    color: $color-primary;
  }
  
  @mixin Card-creator---BTN {
    font-family: $fontFamilyPrimary;
    font-size: rem(18);
    font-weight: 600;
    color: $color-white;
  }

  @mixin Landing---Main-CTA {
    font-family: $fontFamilyPrimary;
    font-size: rem(16);
    font-weight: 600;
    text-align: center;
    color: $color-white;
  }
  
  @mixin Card---role {
    font-family: $fontFamilyTitle;;
    font-size: rem(16);
    color: $color-grey;
  }
  
  @mixin Landing---Main-text---tablet {
    font-family: $fontFamilyPrimary;
    font-size: rem(16);
    text-align: center;
    color: $color-primary;
  }
  
  @mixin Landing---ico-label---tablet {
    font-family: $fontFamilyPrimary;
    font-size: rem(16);
    text-align: center;
    color: $color-grey;
  }
  
  @mixin Collapsible-section---title {
    font-family: $fontFamilyPrimary;
    font-weight: 600;
    font-size: 1.125rem;
    color: $color-grey;
    text-transform: uppercase;
  }

  @mixin Collapsible---label {
    font-family: $fontFamilyPrimary;
    font-size: 0.87rem;
    color: $color-grey;
    text-transform: uppercase;
  }
  
  @mixin Footer---Copy {
    font-family: $fontFamilyPrimary;
    font-size: rem(14);
    line-height: 1.43;
    opacity: 0.5;
    color: #6b6b6b;
  }
  
  @mixin Label---fillform {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: 1.43;
    color: $color-primary;
    display: block;
    margin-top: rem(20);
    margin-bottom: rem(10);
  }

  @mixin Input {
    font-family: $fontFamilyPrimary;
    font-size: rem(14);
    border: solid 1px $color-green;
    display: block;
    width: 100%;
    padding: rem(10);
    box-sizing: border-box;
    }
  
  @mixin Placeholder {
    font-family: $fontFamilyPrimary;
    font-size: rem(14);
    line-height: 1.43;
    color: #c5c5c5;
  }
  
  @mixin Upload-button {
    font-family: $fontFamilyPrimary;
    font-size: rem(14);
    line-height: 1.43;
    color: $color-white;
  }
  
  @mixin landing---icon-label {
    font-family: $fontFamilyPrimary;
    font-size: rem(13);
    text-align: center;
    color: $color-grey;
  }
  
  @mixin Landing---Main-text---mobile {
    font-family: $fontFamilyPrimary;
    font-size: rem(13);
    text-align: center;
    color: $color-primary;
  }
  
  @mixin Response-url {
    font-family: $fontFamilyPrimary;
    font-size: rem(12);
    font-weight: 600;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Card---reset {
    font-family: $fontFamilyPrimary;
    font-size: rem(12);
    color: $color-grey;
  }

  @mixin orange--icon---collapsible {
    font-size: 1.125rem;
    color: $color-secundary;
  }

  @mixin arrow---collapsible {
    font-size: 1.125rem;
    color: $color-grey;
  }