@mixin Landing---Main-title---table {
    font-family: 'Merriweather', serif;
    font-size: rem(24);
    font-weight: 900;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Landing---Main-title---mobile {
    font-family: 'Merriweather', serif;
    font-size: rem(19);
    font-weight: 900;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Card---Name {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(18);
    font-weight: bold;
    line-height: 1.11;
    color: $color-primary;
  }
  
  @mixin Card-creator---BTN {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(18);
    font-weight: 600;
    color: $color-white;
  }
  
  @mixin Collapsible---label {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(18);
    font-weight: 600;
    color: $color-grey;
  }
  
  @mixin Landing---Main-CTA {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(16);
    font-weight: 600;
    text-align: center;
    color: $color-white;
  }
  
  @mixin Card---role {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(16);
    line-height: 1.25;
    color: $color-grey;
  }
  
  @mixin Landing---Main-text---tablet {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(16);
    text-align: center;
    color: $color-primary;
  }
  
  @mixin Landing---ico-label---tablet {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(16);
    text-align: center;
    color: $color-grey;
  }
  
  @mixin Collapsible-section---title {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    color: $color-grey;
  }
  
  @mixin Footer---Copy {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: 1.43;
    color: #6b6b6b;
  }
  
  @mixin Label {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: 1.43;
    color: $color-primary;
  }
  
  @mixin Placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: 1.43;
    color: #c5c5c5;
  }
  
  @mixin Upload-button {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(14);
    line-height: 1.43;
    color: $color-white;
  }
  
  @mixin landign---icon-label {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(13);
    text-align: center;
    color: $color-grey;
  }
  
  @mixin Landing---Main-text---mobile {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(13);
    text-align: center;
    color: $color-primary;
  }
  
  @mixin Response-url {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(12);
    font-weight: 600;
    text-align: center;
    color: $color-secundary;
  }
  
  @mixin Card---reset {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(12);
    line-height: 1.67;
    color: $color-grey;
  }

  @mixin orange--icon---collapsible {
    font-size: 1.125rem;
    color: $color-secundary;
  }

  @mixin arrow---collapsible {
    font-size: 1.125rem;
    color: $color-grey;
  }