$color-black: black;
$color-white: white;
$color-primary: #114e4e;
$color-secundary: #e17334;
$color-tertiary: #438792;
$color-quaternary: #f9f4dc;
$color-background-light: #f5f5f5;
$color-background-gradient1: #bfcdd0;
$color-background-gradient2: #dde9ed;
$color-grey: #54585a;
$color-green: #a2deaf;

$defaultFontSize: 16;

$fontFamilyTitle: 'Merriweather', serif;
$fontFamilySecondary: 'Montserrat', sans-serif;
$fontFamilyPrimary: 'Open Sans', sans-serif;


